[Unit]
Description=Weather One API Service
After=network.target

[Service]
WorkingDirectory=/home/deployer/ac-api/publish
ExecStart=/usr/bin/dotnet /home/deployer/ac-api/publish/Mcsg.Weather.One.dll
Restart=always
RestartSec=5
SyslogIdentifier=weather-one
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
